.App {
  background-color: #2e3d32;
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  pointer-events: none;
  max-height: 25vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Franklin Gothic Medium', sans-serif;
}

.app-title {
  margin-bottom: 10px;
}

.Conversion-buttons {
  margin-top: 30px;
  align-items: center;
}
